# PyInstaller build outputs
dist/
build/
*.spec

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Conda environments
conda-meta/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
